*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: RobotoRegular;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5em;
}
.footer ul {
    list-style-type: none;
}